<section class="advantages">
    <div class="container">
        <div class="advantages__row">
            <div class="advantages__item">
                <img src="./assets/img/heart.png" alt="heart">
                <div class="advantages__title">Tasty</div>
                <div class="advantages__subtitle">We have the most delicious coffee</div>
            </div>
            <div class="advantages__item">
                <img src="./assets/img/rocket.png" alt="rocket">
                <div class="advantages__title">Fast</div>
                <div class="advantages__subtitle">Our cafe will serve you quickly</div>
            </div>
            <div class="advantages__item">
                <img src="./assets/img/flash_drive.png" alt="flash-drive">
                <div class="advantages__title">Available</div>
                <div class="advantages__subtitle">Cafe will serveat the most pleasant prices</div>
            </div>
        </div>
    </div>
</section>