<section class="banner">
    <div class="container">
        <div class="banner__content">
            <h1 class="banner__title">New Cafe <br>
                by <span>StarBucks</span></h1>
            <h1 class="banner__subtitle">Have time to buy the most harmonious drinks in the <br>
                new Starbucks coffee and don't forget about the discount!</h1>
            <button class="banner__btn-1">Select a coffee</button>
            <button class="banner__btn-2">More</button>
            <div class="banner__stats">
                <div class="banner__stats-item">                
                    <h1 class="banner__stats__number"> 9k<span>+</span></h1>
                    <h1 class="banner__stats__name">Premium <br>Users</h1>
                </div>
                <div class="banner__stats-item">
                    <h1 class="banner__stats__number"> 2k<span>+</span></h1>
                    <h1 class="banner__stats__name">Happy <br>Customer</h1>
                </div>
                <div class="banner__stats-item">
                    <h1 class="banner__stats__number"> 28<span>+</span> </h1>
                    <h1 class="banner__stats__name">Awards <br>Winning</h1>
                </div>
            </div>
        </div>
        <div class="banner__img">
            <img src="./assets/img/cup.png" alt="banner-img" srcset="">
        </div>
    </div>
</section>