@use "variables" as v;
@use "mixins" as m;


footer{
    padding: 38px 0!important;
    background: v.$footer-color;
    margin-top: auto;
    .footer__row {
        display: flex;
        gap: 107px;
        &__list {
            ul {
                display: flex;
                justify-content: space-around;
                max-width: 761px;
                width: 100%;
                list-style: none;
                li {
                    padding: 0 12px;
                    h3 {
						@include m.text-set(v.$font-primary, 20px, 400, #BBB3B3, alpha, normal, 0, left, none);
                    }
                    a {
						@include m.text-set(v.$font-primary, 20px, 400, rgba(187, 179, 179, .43), alpha, normal, 0, left, none);
                    }
                }
            }
        }
    }
    .footer__contacts {
        padding-top: 160px;
        display: flex;
        &__phones {
            a {
                @include m.text-set(v.$font-primary, 26px, 500, v.$primary-color, alpha, normal, 0, left, none);
                background-image: linear-gradient(90deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 35%);
                color: transparent;
                background-clip: text;
            }
        }
        &__social {
            margin-left: auto;
        }
    }
}

 