@use "./sass/variables" as v;
@use "./sass/mixins" as m;
.advantages {
    .container {
        display: flex;
        justify-content: center;
    }
    &__row {
        max-width: 1029px;
        width: 100%;
        height: 372px;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 50%, rgba(251,251,251,1) 100%);
        border-radius: 46px;
    }
}