@use "./sass/variables" as v;
@use "./sass/mixins" as m;
.banner {
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        @include m.text-set(v.$font-primary, 80px, 800, v.$title-color, alpha, normal, -2%, left, none);
        span {
            background-image: v.$primary-gradient;
            color: transparent;
            background-clip: text;
        }
    }
    &__subtitle {
        padding: 54px 0;
        @include m.text-set(v.$font-primary, 20px, 400, v.$title-color, alpha, normal, 0, left, none);
    }
    @for $i from 1 through 2 {
        &__btn-#{$i} {
            margin-bottom: 54px;
            border-radius: 82px;
            @include m.text-set(v.$font-primary, 24px, 400, v.$title-color, alpha, normal, 0, center, none);
            height: 74px;
            background-color: v.$bg-color;
            border: none;
            @if $i == 1 {
                width: 333px;
                background-image: v.$primary-gradient;
            }
            @else if $i == 2 {
                margin-left: 16px; 
                width: 167px;
                background: 
                    linear-gradient(v.$bg-color, v.$bg-color) padding-box,
                    linear-gradient(140deg, #BBB3B3 0%, #121517 100%) border-box;
            }
        }
    }
    &__stats {
        display: flex;
        flex-direction: row;
        gap: 50px;
        &__number {
            @include m.text-set(v.$font-primary, 62px, 400, v.$title-color, alpha, normal, 0, left, none);
            span {
                background-image: v.$primary-gradient;
                color: transparent;
                background-clip: text;
            }
        }
        &__name {
            @include m.text-set(v.$font-primary, 20px, 400, v.$title-color, alpha, normal, 0, left, none);
        }
    }
    &__img {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            overflow: hidden;
            top: 129px;
            left: -205px;
            width: 1100px;
            height: 676px;
            background-image: url("./assets/img/banner-line.svg");
            z-index: -5;
        }
        &::after {
            content: "45%";
            position: absolute;
            background-image: url("./assets/img/discount-circle.svg");
            background-repeat: no-repeat;
            background-size: contain;
            @include m.text-set(v.$font-primary, 55px, 500, v.$title-color, alpha, normal, 0, center, none);
            width: 183px;
            height: 183px;
            top: 0;
            left: 260px;
        }
    }
}