<footer>
	<div class="container">
		<div class="footer__row">
			<h1 class="footer__row__logo">Starbucks</h1>
			<nav class="footer__row__list">
				<ul>
					<li>
						<p>Main</p> <br>
						<a href="#">Buy</a> <br>
						<a href="#">More</a> <br>
					</li>
					<li>
						<p>We make</p> <br>
						<a href="#">Process</a> <br>
					</li>
					<li>
						<p>Products</p> <br>
						<a href="#">Cappuccino</a> <br>
						<a href="#">Fast</a> <br>
					</li>
					<li>
						<p>Events</p> <br>
						<a href="#">Drinks</a> <br>
						<a href="#">Eat</a> <br>
					</li>
					<li>
						<p>Contacts</p> <br>
						<a href="#">Instagram</a> <br>
						<a href="#">Number</a> <br>
					</li>
				</ul>
			</nav>
		</div>
		<address class="footer__contacts">
			<nav class="footer__phones">

			</nav>
			<nav class="footer__social">

			</nav>
		</address>
	</div>
</footer>
<script src="assets/js/custom.js"></script>
</body>
</html>