<footer>
	<div class="container">
		<div class="footer__row">
			<a href="index.html" class="logo">
				<img src="./assets/img/logo.svg" alt="logo" srcset="">
			</a>
			<nav class="footer__row__list">
				<ul>
					<li>
						<h3>Main</h3> 
						<a href="#">Buy</a> <br>
						<a href="#">More</a> <br>
					</li>
					<li>
						<h3>We make</h3>
						<a href="#">Process</a> <br>
					</li>
					<li>
						<h3>Products</h3>
						<a href="#">Cappuccino</a> <br>
						<a href="#">Fast</a> <br>
					</li>
					<li>
						<h3>Events</h3>
						<a href="#">Drinks</a> <br>
						<a href="#">Eat</a> <br>
					</li>
					<li>
						<h3>Contacts</h3>
						<a href="#">Instagram</a> <br>
						<a href="#">Number</a> <br>
					</li>
				</ul>
			</nav>
			<a href="#header" class="footer__scroll">top</a>
		</div>
		<address class="footer__contacts">
			<nav class="footer__contacts__phones">
				<a href="tel:+39999999999">+3-999-999-99-99</a>
			</nav>
			<nav class="footer__contacts__social">
				<a href="#">
					<img src="./assets/img/instagram.png" alt="Instagram" srcset="">
				</a>
			</nav>
		</address>
	</div>
</footer>
<script src="assets/js/custom.js"></script>
</body>
</html>