<header>
    <div class="container">
        <a href="index.html" class="logo">
            <img src="./assets/img/logo.svg" alt="logo" srcset="">
        </a>
        <div class="mobile-container">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Select</a></li>
                    <li><a href="#">Shop</a></li>
                </ul>
            </nav>
        </div>
        <button class="btn-burger"></button>

    </div>
</header>

